h1{

    line-height: 28px;
    display: block;
    font-size: 40px;
    font-weight: 200;
    color: #3498db;
    margin-bottom: 0;
    padding: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    background-color: #f0f0f0;
}

.weather-app-wrap {
    max-width: 800px;
    margin: 30px auto;
   
}

.weather-app{
    padding: 30px;
    background-color: #cddefa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dadde1;
    border-radius: 10px;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    color: #000;
    font-size: 16px;
    font-weight: 500px;
    line-height: 19px;
    text-transform: capitalize;
    padding: 5px 10px;
    -webkit-text-stroke: 0.2px #000;
}

.overview{
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.weather-temperature img{
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong{
    color: rgb(33, 33, 33);
    font-size: 70px;
    font-weight: 400;
    position: relative;
    top: -16px;
}

.units{
    font-size: 12px;
}

.weather-temperature .active{
    color: rgb(33, 33, 33);
    cursor: default;

}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast{
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.weather-forecast-date{
    font-size: 16px;
}

.weather-forecast-temperatures{
    font-size: 13px;
}

.weather-forecast-temperature-min{
    opacity: 0.5;
}

.col-2{
    border: thin, solid, #2f8189;
    background-color: #15064a ;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    max-width: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    font-weight: 200;
}

.weather-forecast-date{
    color: #fff;
}